---
import { ui } from '@/i18n/ui'
import { getPageInfo } from '@/utils/page'

const { currentLang, isHome, isPost, isTag, isAbout, getLocalizedPath } = getPageInfo(Astro.url.pathname)
const currentUI = ui[currentLang as keyof typeof ui] ?? {}

const isPostActive = isHome || isPost
const isTagActive = isTag
const isAboutActive = isAbout

function getNavItemClass(isActive: boolean) {
  return isActive
    ? 'highlight-static c-primary font-bold after:bottom-0.7em'
    : 'highlight-hover transition-[colors,font-weight] after:bottom-0.7em hover:(c-primary font-bold)'
}

const navItems = [
  {
    href: '/',
    label: currentUI.posts,
    className: getNavItemClass(isPostActive),
  },
  {
    href: '/tags/',
    label: currentUI.tags,
    className: getNavItemClass(isTagActive),
  },
  {
    href: 'https://camlife.app',
    label: currentUI.camlife,
    className: getNavItemClass(false),
  },
  {
    href: 'https://cyc.guoqi.dev',
    label: currentUI.cycling,
    className: getNavItemClass(false),
  },
  {
    href: '/about/',
    label: currentUI.about,
    className: getNavItemClass(isAboutActive),
  },
]

function isUrl(uri: string): boolean {
  return uri.startsWith('http')
}
---

<nav
  aria-label="Site Navigation"
  class:list={[
    isPost ? 'hidden lg:block' : '',
    'mb-10.5 text-3.6 font-semibold leading-2.45em font-navbar',
    'lg:(uno-desktop-column text-4 bottom-[min(9.04rem+3.85vw,12.5rem)]) cjk:tracking-0.02em',
  ]}
>
  <ul class="flex flex-row gap-x-3 lg:flex-col lg:gap-0">
    {navItems.map(item => (
      <li>
        <a
          href={isUrl(item.href) ? item.href : getLocalizedPath(item.href)}
          class={item.className}
          target={isUrl(item.href) ? '_blank' : '_self'}
        >
          {item.label}
        </a>
      </li>
    ))}
  </ul>
</nav>
